In [31]:
import pandas as pd

In [32]:
listings = pd.read_csv(r'airbnb-property-listings/listing.csv')
listings.head()

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms,Unnamed: 19
0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,"['About this space', ""Escape to one of these t...","['What this place offers', 'Bathroom', 'Shampo...",Llandrindod Wells United Kingdom,2,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,NaN,NaN
1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,"['About this space', ""Come and spend a romanti...","['What this place offers', 'Bedroom and laundr...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1,NaN
2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"['About this space', 'Rustic cabin between the...","['What this place offers', 'Scenic views', 'Ga...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1,NaN
3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,"['About this space', 'The Tree top cabin is si...","['What this place offers', 'Bathroom', 'Hot wa...",Barmouth Wales United Kingdom,2,NaN,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,NaN,NaN
4,8b2d0f78-16d8-4559-8692-62ebce2a1302,Treehouses,Hanging cabin,"['About this space', 'Feel refreshed at this u...","['What this place offers', 'Heating and coolin...",Wargnies-le-Petit Hauts-de-France France,2,1.0,NaN,111,NaN,NaN,NaN,NaN,NaN,NaN,5.0,https://www.airbnb.co.uk/rooms/50166553?adults...,1,NaN

In [229]:
listings['Description'] = listings.Description.str.split(",")

In [76]:
txt.split(",")

AttributeError: 'Series' object has no attribute 'split'

In [ ]:
str_1 = "Hire the top 1% freelance developers"
list_1 = str_1.split()
print(list_1)

In [227]:
txt = "[hello, my name is Peter, I am 26 years old]"

x = txt.split(",")

print(x)

['[hello', ' my name is Peter', ' I am 26 years old]']

In [35]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    988 non-null    object
 1   Category              988 non-null    object
 2   Title                 988 non-null    object
 3   Description           900 non-null    object
 4   Amenities             988 non-null    object
 5   Location              988 non-null    object
 6   guests                988 non-null    object
 7   beds                  988 non-null    float64
 8   bathrooms             988 non-null    float64
 9   Price_Night           988 non-null    int64
 10  Cleanliness_rating    890 non-null    float64
 11  Accuracy_rating       890 non-null    float64
 12  Communication_rating  890 non-null    float64
 13  Location_rating       890 non-null    float64
 14  Check-in_rating       890 non-null    float64
 15  Value_rating          890 non-null    float64
 16  amenities_count       988 non-null    float64
 17  url                   988 non-null    object
 18  bedrooms              988 non-null    object
 19  Unnamed: 19           1 non-null      float64
dtypes: float64(10), int64(1), object(9)
memory usage: 154.5+ KB

In [15]:
listings[['guests','beds','bathrooms','bedrooms']].fillna(value=1,inplace=True)

/var/folders/m1/sxr9m1ws7p9dlh9_cxz2dyfh0000gn/T/ipykernel_57881/95660669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings[['guests','beds','bathrooms','bedrooms']].fillna(value=1,inplace=True)

In [20]:
columns = ['guests','beds','bathrooms','bedrooms']
for column in columns:
    listings[column].fillna(value=1, inplace=True)

In [28]:
columns = ['guests','beds','bathrooms','bedrooms']
[listings[column].fillna(value=1, inplace=True) for column in columns]

[None, None, None, None]

In [34]:
columns = ['guests','beds','bathrooms','bedrooms']
[listings[column].fillna(value=1, inplace=True) for column in columns]

[None, None, None, None]

In [6]:
listings.iloc[2,3]

2

In [220]:
spec_chars = ["!",'"',"#","%","&","'",
              "*","+",",","-",".","/",":",";","<","\\n"
              "=",">","?","@","[","]","^","_",
              "`","{","|","}","~","‚Äì","]","[","About this space"]
for char in spec_chars:
    listings['Description'] = listings['Description'].str.replace(char, ' ')

/var/folders/m1/sxr9m1ws7p9dlh9_cxz2dyfh0000gn/T/ipykernel_46757/815520936.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  listings['Description'] = listings['Description'].str.replace(char, ' ')
/var/folders/m1/sxr9m1ws7p9dlh9_cxz2dyfh0000gn/T/ipykernel_46757/815520936.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  listings['Description'] = listings['Description'].str.replace(char, ' ')

In [186]:
listings['Description'] = listings['Description'].str.split().str.join(" ")

In [192]:
import re
def remove_emoji(string):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

In [125]:
listings['Description'] = listings['Description'].str.remove_emoji()

AttributeError: 'StringMethods' object has no attribute 'remove_emoji'

In [123]:
listings['Description'].str.apply(remove_emoji)

AttributeError: 'StringMethods' object has no attribute 'apply'

In [110]:
listings['Description'] = listings['Description'].str.replace('[^A-Za-z0-9]', '', flags=re.UNICODE)

/var/folders/m1/sxr9m1ws7p9dlh9_cxz2dyfh0000gn/T/ipykernel_46757/3120185779.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  listings['Description'] = listings['Description'].str.replace('[^A-Za-z0-9]', '', flags=re.UNICODE)

In [106]:
listings['Description'].astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

AttributeError: 'str' object has no attribute 'str'

In [111]:
listings.iloc[2,3]

'AboutthisspaceRusticcabinbetweenthepines3metershighand28squaremetersonthebanksoftheAustreberthRiverThespaceThespacenOurcabinbetweenthepinesisagreatalternativeforthoselookingforcontactwithnatureandwanttorestenjoytogetherorhavefunwithfamilyorfriendsWith3metershighand28squaremetersitaccommodates4peopleLocatedona12hectarepropertybytheriverAustrebertheourrustictreehousesharesthespacewithourgardenrabbitsanddumplingsaswellaswilddumplingsandourbelovedkhentymarewholovesapplesandcarrotsAtranquilretreatwithefficientthermalinsulationandheatersforthecolderdaysEquippedwithadoublebedsofabedkitchenduvetandtoiletnnnWeprovidenTowelsnBedlinensandpillowsnKitchendetergentandbathroomsoapnPapertowelstoiletpapernCookingutensilsnCoffeeteasaltandpepperherbsofprovencenWhattodointheareasguidennIllfollowusonInstagramentreespinsGuestaccessGuestaccessnGuestscanusethespacearoundthecabinOtherthingstonoteOtherthingstonotenWhenitswindythecabinsqueaksbuttheresnothingtoworryaboutnnDonotusecandlesorobjectscontainingafireinsideandoutsidethecabinasthepolyesterisflammablennSmokingoutsideonlypleasennOurdearpetsareallowedbutwiththecommitmentoftheirguardiannottoleavethemonthebedandfurnishingfabricsaswellasbeingresponsiblefortheirwastennPineneedlesoftenfallonthebalconywhichdoesntmeanthespacehasntbeencleanednnAsthisisliterallyahousebetweenthetreesitiscommonthatthereareinsectsandcobwebsoutsidebutwiththedoorcloseditwillpreventthemfromenteringthecabinnnWiththearrivalofthecoldseasonweseethattheinternaltemperatureisbetween15and18degreesnnCheckouttimemustberespectedsoasnottochangethearrivaltimeofthenextguest'

In [20]:
listings.isnull().sum()

ID                        0
Category                  0
Title                     0
Description              88
Amenities                 0
Location                  0
guests                   19
beds                     43
bathrooms               100
Price_Night               0
Cleanliness_rating       98
Accuracy_rating          98
Communication_rating     98
Location_rating          98
Check-in_rating          98
Value_rating             98
amenities_count           0
url                       0
bedrooms                 82
Unnamed: 19             987
dtype: int64

In [60]:
filepath = r'airbnb-property-listings/tabular_data/listing.csv'
def read_dataset():
    listings = pd.read_csv(filepath)
    return listings

listings = read_dataset()
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    988 non-null    object
 1   Category              988 non-null    object
 2   Title                 988 non-null    object
 3   Description           900 non-null    object
 4   Amenities             988 non-null    object
 5   Location              988 non-null    object
 6   guests                969 non-null    object
 7   beds                  945 non-null    float64
 8   bathrooms             888 non-null    float64
 9   Price_Night           988 non-null    int64
 10  Cleanliness_rating    890 non-null    float64
 11  Accuracy_rating       890 non-null    float64
 12  Communication_rating  890 non-null    float64
 13  Location_rating       890 non-null    float64
 14  Check-in_rating       890 non-null    float64
 15  Value_rating          890 non-null    float64
 16  amenities_count       988 non-null    float64
 17  url                   988 non-null    object
 18  bedrooms              906 non-null    object
 19  Unnamed: 19           1 non-null      float64
dtypes: float64(10), int64(1), object(9)
memory usage: 154.5+ KB

In [61]:
listings.isnull().sum()

ID                        0
Category                  0
Title                     0
Description              88
Amenities                 0
Location                  0
guests                   19
beds                     43
bathrooms               100
Price_Night               0
Cleanliness_rating       98
Accuracy_rating          98
Communication_rating     98
Location_rating          98
Check-in_rating          98
Value_rating             98
amenities_count           0
url                       0
bedrooms                 82
Unnamed: 19             987
dtype: int64

In [38]:
listings = read_dataset()
listings.drop(columns=['Unnamed: 19'], inplace=True)
listings.reset_index(drop=True, inplace=True)

In [62]:
listings = read_dataset()
listings.dropna(subset=['Cleanliness_rating','Accuracy_rating','Communication_rating','Location_rating','Check-in_rating','Value_rating'], inplace=True)

In [63]:
listings.isnull().sum()

ID                        0
Category                  0
Title                     0
Description              60
Amenities                 0
Location                  0
guests                   18
beds                     34
bathrooms                79
Price_Night               0
Cleanliness_rating        0
Accuracy_rating           0
Communication_rating      0
Location_rating           0
Check-in_rating           0
Value_rating              0
amenities_count           0
url                       0
bedrooms                 76
Unnamed: 19             889
dtype: int64

In [ ]:
listings[['Cleanliness_rating','Accuracy_rating','Communication_rating','Location_rating','Check-in_rating','Value_rating']]

In [39]:
listings

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms
0,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,"['About this space', ""Come and spend a romanti...","['What this place offers', 'Bedroom and laundr...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1
1,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"['About this space', 'Rustic cabin between the...","['What this place offers', 'Scenic views', 'Ga...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1
2,cfe479b9-c8f8-44af-9bc6-46ede9f14bb5,Treehouses,Treehouse near Paris Disney,"['About this space', 'Charming cabin nestled i...","['What this place offers', 'Bathroom', 'Hair d...",Le Plessis-Feu-Aussoux √éle-de-France France,4,3.0,1.0,143,5.0,4.9,5.0,4.7,5.0,4.7,32.0,https://www.airbnb.co.uk/rooms/935398?adults=1...,2
3,9033002f-5ff2-45df-af91-ef1594ac353f,Treehouses,luxourious Treehouse/lodge,"['About this space', 'our tree house / lodge i...","['What this place offers', 'Bathroom', 'Cleani...",Rijen Noord-Brabant Netherlands,6,5.0,1.0,94,4.2,4.4,4.6,4.3,4.8,4.3,31.0,https://www.airbnb.co.uk/rooms/38786954?adults...,2
4,36dc1670-02ae-483b-9384-9261cc0f5abe,Treehouses,CABANE DES GIROLLES - IN THE TREES,"['About this space', 'Above all, this is a bre...","['What this place offers', 'Bathroom', 'Hair d...",Perret C√¥tes-d'Armor France,3,2.0,1.0,104,4.5,4.7,4.8,4.8,4.8,4.4,10.0,https://www.airbnb.co.uk/rooms/23274113?adults...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,cfbc88da-e88c-415a-b397-108d0948c4ba,Beachfront,Lancing Beach Apartment,"['About this space', 'An apartment directly on...","['What this place offers', 'Bathroom', 'Hair d...",Lancing United Kingdom,4,2.0,1.5,240,4.9,5.0,5.0,5.0,4.9,4.8,33.0,https://www.airbnb.co.uk/rooms/12680472?adults...,2
701,4fea5054-f999-4c07-addc-67e4d893deab,Beachfront,Apartment,"['About this space', 'Light roomy space with o...","['What this place offers', 'Bathroom', 'Hair d...",Brighton and Hove England United Kingdom,2,1.0,1.0,78,4.8,5.0,4.9,4.9,5.0,4.9,54.0,https://www.airbnb.co.uk/rooms/48565992?adults...,1
702,282118e2-049e-4d9f-b2f2-b47477881b07,Beachfront,Sea front flat with a stunning view!,"['About this space', 'This specious two bedroo...","['What this place offers', 'Scenic views', 'Be...",East Sussex England United Kingdom,4,2.0,1.5,113,4.8,5.0,5.0,5.0,5.0,4.8,38.0,https://www.airbnb.co.uk/rooms/49742544?adults...,2
703,9ebf9cec-624e-480e-8704-dffa7cb1fe51,Beachfront,MP713 - Camber Sands Holiday Park - Sleeps 6 +...,"['About this space', 'With all the modern amen...","['What this place offers', 'Bathroom', 'Hot wa...",Camber England United Kingdom,6,3.0,2.0,80,4.7,4.8,5.0,5.0,5.0,4.7,24.0,https://www.airbnb.co.uk/rooms/47777462?adults...,2
704,d2b06c80-c643-485d-a24b-15d0811a3166,Beachfront,"Sea Scene's , Hayling Island","['About this space', 'Sea Scenes is a homely t...","['What this place offers', 'Bathroom', 'Hair d...",Hayling Island Hampshire United Kingdom,4,2.0,1.0,104,4.9,4.9,4.9,4.9,4.9,4.3,29.0,https://www.airbnb.co.uk/rooms/32377446?adults...,2

In [40]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    705 non-null    object
 1   Category              705 non-null    object
 2   Title                 705 non-null    object
 3   Description           705 non-null    object
 4   Amenities             705 non-null    object
 5   Location              705 non-null    object
 6   guests                705 non-null    object
 7   beds                  705 non-null    float64
 8   bathrooms             705 non-null    float64
 9   Price_Night           705 non-null    int64
 10  Cleanliness_rating    705 non-null    float64
 11  Accuracy_rating       705 non-null    float64
 12  Communication_rating  705 non-null    float64
 13  Location_rating       705 non-null    float64
 14  Check-in_rating       705 non-null    float64
 15  Value_rating          705 non-null    float64
 16  amenities_count       705 non-null    float64
 17  url                   705 non-null    object
 18  bedrooms              705 non-null    object
dtypes: float64(9), int64(1), object(9)
memory usage: 104.8+ KB